{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "wx": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "semi": "error",
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1,
                "maxBOF": 0,
                "maxEOF": 0
            }
        ]
    }
}